<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>
    ul {
        background-color: #dddddd;
        list-style-type: none;
        display: flex;
        justify-content: right;
    }
    li {
        display: inline;
        padding: 1%;
    }
    a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: #0b0b64;
    }
</style>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/welcome">Welcome</a></li>
    </ul>
    <h1>This is Home Page</h1>
</body>
</html>